html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    background: linear-gradient(#e0f7ff, #42bcf9); 
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #333;
    padding: 10px;
    color: #f0f0f0;
}

h1 {
color: #005a9c; 
}

ul {
    background-color: #ffffff;
    border: 2px solid #000000; /* azul brilhante */
    border-radius: 12px; /* bordas arredondadas */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 191, 255, 0.2);
    list-style-type: square;
    transition: all 0.3s ease;
}

li {
list-style-type: square;
}

footer {
    background-color: #000000;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}