{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Meu Site Django {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo" style="color: white; font-weight: bold; text-decoration: none; font-size: 1.2rem;">AC JOGOS</a>
            <div class="menu">
                {% if user.is_authenticated %}
                    <a href="{% url 'home' %}">Início</a>
                    {% if "Diretoria" in permicoes %}
                        <a href="{% url 'visao_diretoria' %}">Painel Direção</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="btn-logout">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}
       
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 - Meu Site Incrível</p>
    </footer>
</body>