{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} AC Jogos {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="{% if 'Diretoria' in permicoes %}diretoria-theme{% endif %}">
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">AC JOGOS</a>
            <div class="menu">
                {% if user.is_authenticated %}
                    <a href="{% url 'home' %}">Início</a>
                    {% if "Diretoria" in permicoes %}
                        <a href="{% url 'visao_diretoria' %}">Painel Direção</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" style="color: var(--highlight);">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 - AC Jogos Rio de Janeiro. Todos os direitos reservados.</p>
    </footer>
</body>
</html>