{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div style="text-align: center;">
            <img src="https://ggjv4.s3.us-west-1.amazonaws.com/files/styles/sidebar_full/s3/jam_sites/2025/162364/site_poster/logo-vert-fullcolor.png" alt="Logomarca da AC Jogos" width="100" height="100">
        </div>
        <h1 class="titulo">Cadastro</h1>
            
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
            
        <form action="{% url 'cadastro' %}" method="POST">
            
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="CADASTRAR">
        </form>
            
        <div class="link">
            <p>Já tem conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
        </div>
    </div>
{% endblock %}
