{% extends 'base_vitrine.html' %}

{% block content %}
 

<div class="auth-wrapper">
    <div class="auth-card">
        <div class="logo">🎮</div>

        <h1>Crie sua conta</h1>
        <p>Associe-se à ACJOGOS-RJ</p>

        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}

            

            <div class="options">
                <a href="{% url 'cadastro_empresas' %}" class="option-card">
                    <div class="option-icon">🏢</div>
                    <div class="option-title">Empresa/Estúdio</div>
                    <div class="option-sub">Associado</div>
                </a>
                
                <a href="{% url 'cadastro_profissional' %}" class="option-card">
                    <div class="option-icon">👤</div>
                    <div class="option-title">Profissional</div>
                    <div class="option-sub">Afiliado</div>
                </a>
                <a href="{% url 'cadastrar_instituicao' %}" class="option-card">
                    <div class="option-icon">👤</div>
                    <div class="option-title">Coletivo</div>
                    <div class="option-sub">Instituição</div>
                </a>
            </div>
            
        </form>

        </div>
    </div>
</div>

{% endblock %}