{% extends 'base_logado.html' %}

{% block content %}


<div class="project-edit-viewport">
    <div class="project-edit-card">
        <h1 class="edit-brand-title">AC Jogos</h1>
        <h2 class="edit-subtitle">Editar Projeto: <strong>{{ projeto.titulo }}</strong></h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="project-form-group">
                <label class="form-label">{{ form.titulo.label }}</label>
                {{ form.titulo }} {% if form.titulo.errors %}
                    <div class="field-error-list">{{ form.titulo.errors }}</div>
                {% endif %}
            </div>

            <div class="project-form-group">
                <label class="form-label">{{ form.descricao.label }}</label>
                {{ form.descricao }}
                {% if form.descricao.errors %}
                    <div class="field-error-list">{{ form.descricao.errors }}</div>
                {% endif %}
            </div>

            <div class="project-form-group">
                <label class="form-label">{{ form.status.label }}</label>
                {{ form.status }}
                {% if form.status.errors %}
                    <div class="field-error-list">{{ form.status.errors }}</div>
                {% endif %}
            </div>

            <div class="project-form-group">
                <label class="form-label">{{ form.equipe_projeto.label }}</label>
                {{ form.equipe_projeto }}
                {% if form.equipe_projeto.errors %}
                    <div class="field-error-list">{{ form.equipe_projeto.errors }}</div>
                {% endif %}
            </div>

            <div class="project-form-group">
                <label class="form-label">{{ form.url_site.label }}</label>
                {{ form.url_site }}
                {% if form.url_site.errors %}
                    <div class="field-error-list">{{ form.url_site.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn-save-project">
                Salvar Alterações
            </button>

            <a href="{% url 'listagem_empresas' %}" class="btn-discard-changes">
                Cancelar e Voltar
            </a>
        </form>
    </div>
</div>
{% endblock %}