{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="titulo">AC Jogos</h1>
    <h2 class="titulo">Cadastro de Empresas</h2>
        
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        
    <form action="{% url 'empresas' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>Dados Jurídicos</h2>

        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                
                {{ field }}
                
                {% if field.errors %}
                    <div class="errorlist">
                        {% for error in field.errors %}
                            <small><strong>* {{ error }}</strong></small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-primary" style="margin-top: 20px;">Avançar</button>
    </form>
</div>

<script>
    // na data fundação é dia/mes/ano
    // Script para rolar a tela até o primeiro erro automaticamente
    document.addEventListener("DOMContentLoaded", function() {
        const firstError = document.querySelector('.has-error');
        if (firstError) {
            firstError.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    });
</script>

            


            
        </form>
            

    </div>
{% endblock %}

