{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="titulo">Estatísticas do setor de jogos - RJ</h1>
        <div class="card-estatistica">
            <div class="card">
                <h3>Total de Empresas Cadastradas</h2>
                <p>{{ total_empresas }}</p>
            </div>

            <div class="card">
                <h3>Empresas Ativas</h2>
                <p>{{ empresas_ativas }}</p>
                
            <div class="card">
                <h3>Total de Jogos Cadastrados</h2>
                <p>{{ projetos_empresa }}</p>
            </div>

            <div class="card">
                <h3>Jogos Lançados</h2>
                <p>{{ jogos_lancados }}</p>
            </div>
        </div>
            
    </div>

{% endblock %}