{% extends 'base_logado.html' %}
{% load static %}

{% block title %}Home - ACJOGOS-RJ{% endblock %}

{% block content %}

<div class="container-lista">

    <section class="titulo-diretoria">

        <div class="welcome-logo-container">
            {% if user.profile.foto_perfil %}
                <img src="{{ user.profile.foto_perfil.url }}" alt="Perfil" class="welcome-avatar">
            {% else %}
                <img src="https://ggjv4.s3.us-west-1.amazonaws.com/files/styles/sidebar_full/s3/jam_sites/2025/162364/site_poster/logo-vert-fullcolor.png"
                     alt="Logomarca da AC Jogos"
                     class="welcome-logo">
            {% endif %}
        </div>

        <h1>Olá, {{ user.username }}</h1>
        <p>Você está logado como: <strong>{{ permicoes }}</strong></p>

    </section>

    <div class="card-grid">
        <div class="card-stat">
            <h3>🏢 Empresas e Estúdios</h3>
            <p>Cadastradas no sistema</p>
            <span class="stat-number">{{ total_empresas }}</span>
        </div>

        <div class="card-stat">
            <h3>🎮 Projetos</h3>
            <p>Jogos em desenvolvimento</p>
            <span class="stat-number">{{ total_projetos }}</span>
        </div>
    </div>

</div>

{% endblock %}
