{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="logo-img-container">
            <img src="https://ggjv4.s3.us-west-1.amazonaws.com/files/styles/sidebar_full/s3/jam_sites/2025/162364/site_poster/logo-vert-fullcolor.png" 
                alt="Logomarca da AC Jogos">
        </div>        
        
        <h1>Login</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Usuário</label>
                <input placeholder="Digite seu username..." type="text" name="username" value="{{ request.POST.username }}">
            </div>
            
            <div class="form-group">
                <label>Senha</label>
                <input placeholder="Digite sua senha..." type="password" name="senha">
            </div>
            <div class="form-group">
                <label>Colocação</label>
                <input placeholder="Sua Colocação" type="checkbox" name="senha">
            </div>

            <input type="submit" value="ENTRAR">

        </form>
        
        <div class="link">
            <p>Não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
        </div>
    </div>
{% endblock %}