{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="titulo">AC Jogos</h1>
        <h2 class="titulo">Login</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Digite seu username..." name="username" value="{{ request.POST.username }}">
            <input type="password" placeholder="Digite sua senha..." name="senha">
            <input type="submit" value="ENTRAR">
        </form>
        
        <div class="link">
            <p>Não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
        </div>
    </div>
{% endblock %}