{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <nav class="nav-bar">

        <img src="https://ggjv4.s3.us-west-1.amazonaws.com/files/styles/sidebar_full/s3/jam_sites/2025/162364/site_poster/logo-vert-fullcolor.png?VersionId=s.86rgjwEhWjZKF.EPF0IRrXA7vJXITK&itok=Z-jYtdsg" alt="Logo AC-Jogos" width="60">
        <div class="nav-button">
            <ul class="lista">
                <li><button class="btn-primary-lista" ><a href="#jogos">Jogos</a></button></li>
                <li><button class="btn-primary-lista"><a href="#empresas">Empresas</a></button></li>
                <li><button class="btn-primary-lista"><a href="#sobre">Sobre</a></button></li>
            </ul>
            
            <div class="botoes">
                <a href="{% url 'login' %}" class="botao">
                    <button class="btn-primary">Login</button>
                </a>

                <a href="{% url 'cadastro' %}" class="botao">
                    <button class="btn-primary">Cadastrar</button>
                </a>


    </nav>


    <hr>

    <section class="secao-intro">
            <h1>Bem-vindo à AC-Jogos</h1>
            <h2>A maior associação de desenvolvedores de jogos do Rio de Janeiro</h2>
            <div class="jogos">
                <i class="fa-solid fa-arrow-down"></i>
                <button class="btn-primary-jogos">Conheça nossos jogos</button>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
    </section>

</div>

<h2 id="jogos">Veja alguns dos jogos ofertados</h2>
    <div class="conteudo">
        <div class="carrossel" >
            <div class="group">
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_1.png' %}" alt="Jogo 1" >
                    
                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_2.png' %}" alt="Jogo 2" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_3.png' %}" alt="Jogo 3" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_4.png' %}" alt="Jogo 4" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_5.png' %}" alt="Jogo 5" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_6.png' %}" alt="Jogo 6" >

                </div>
            </div>
            <div aria-hidden="false" class="group">
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_1.png' %}" alt="Jogo 1" >
                    
                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_2.png' %}" alt="Jogo 2" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_3.png' %}" alt="Jogo 3" >

                </div>
                                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_4.png' %}" alt="Jogo 4" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_5.png' %}" alt="Jogo 5" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_6.png' %}" alt="Jogo 6" >

                </div>
            </div>
            <div aria-hidden="false" class="group">
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_1.png' %}" alt="Jogo 1" >
                    
                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_2.png' %}" alt="Jogo 2" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_3.png' %}" alt="Jogo 3" >

                </div>
                                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_4.png' %}" alt="Jogo 4" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_5.png' %}" alt="Jogo 5" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_6.png' %}" alt="Jogo 6" >

                </div>
            </div>
            <div aria-hidden="false" class="group">
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_1.png' %}" alt="Jogo 1" >
                    
                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_2.png' %}" alt="Jogo 2" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_3.png' %}" alt="Jogo 3" >

                </div>
                                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_4.png' %}" alt="Jogo 4" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_5.png' %}" alt="Jogo 5" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_6.png' %}" alt="Jogo 6" >

                </div>
            </div>
            <div aria-hidden="false" class="group">
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_1.png' %}" alt="Jogo 1" >
                    
                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_2.png' %}" alt="Jogo 2" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_3.png' %}" alt="Jogo 3" >

                </div>
                                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_4.png' %}" alt="Jogo 4" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_5.png' %}" alt="Jogo 5" >

                </div>
                <div class="conteudo-vitrine-imagem">
                    <img src="{% static 'image/jogo_6.png' %}" alt="Jogo 6" >

                </div>
            </div>
        </div>
        
        <h2 id="empresas">Veja algumas de nossas empresas parceiras</h2>
        <div class="empresas" >
            <div class="conteudo-empresas">
                <img src="https://rj.acjogos.com.br/wp-content/uploads/2023/06/AltF4Logo.png" alt="">
            </div>
            <div class="conteudo-empresas">

                <img src="https://rj.acjogos.com.br/wp-content/uploads/2024/04/SendoEstudio.png" alt="">
            </div>

            <div class="conteudo-empresas">
                <img src="https://rj.acjogos.com.br/wp-content/uploads/2023/06/IndieHero_Logo.png" alt="">

            </div>

            <div class="conteudo-empresas">

                <img src="https://rj.acjogos.com.br/wp-content/uploads/2023/06/limiar-logo-margin.png" alt="">
            </div>
        </div>

    </div>
    

    <footer>
        &copy; Todos os Direitos Reservados a AC-Jogos
    </footer>
</body>

</html>