{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="titulo">AC Jogos</h1>
        <h2 class="titulo">Cadastro de Projetos</h2>
        {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
            
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
            
        <form action="{% url 'projetos' %}" method="post">
            {% csrf_token %}
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
            {{ form.titulo.errors }}
            <br>
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
            {{ form.descricao.errors }}
            <br>
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
            <br>
            {{ form.equipe_projeto.label_tag }}
            {{ form.equipe_projeto }}
            {{ form.equipe_projeto.errors }}
            <br>
            {{ form.url_site.label_tag }}
            {{ form.url_site }}
            {{ form.url_site.errors }}
            <br>

            <button type="submit" class="btn-primary">Enviar</button>
        </form>
            

    </div>
{% endblock %}