{% extends 'base_logado.html' %}

{% block title %}Painel de Controle - ACJOGOS-RJ{% endblock %}


{% block content %}
<div class="container-lista">
    
    <div class="painel-header">
        <h2>Painel de Controle - Diretoria </h2>
        <p>Olá, <strong>{{ username }}</strong>! Aqui você pode visualizar todos os registros do sistema</p>
    </div>

    <!-- Seção de Empresas -->
    <div class="section-title">
        
        <h3>Empresas Cadastradas</h3>
    </div>

    <div class="tabela-wrapper">
        <table class="tabela-dados">
            <thead>
                <tr>
                    <th>Nome Fantasia</th>
                    <th>CNPJ</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                <tr>
                    <td><strong>{{ empresa.nome_fantasia }}</strong></td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>{{ empresa.cidade }}/{{ empresa.estado }}</td>
                    <td>
                        <a href="{% url 'editar_empresas' empresa.pk %}" class="btn-action">Editar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum registro encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <hr>

    <!-- Seção de Projetos -->
    <div class="section-title">
        
        <h3>Projetos em Desenvolvimento</h3>
    </div>

    <div class="tabela-wrapper">
        <table class="tabela-dados">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Equipe</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for projeto in projetos %}
                <tr>
                    <td><strong>{{ projeto.titulo }}</strong></td>
                    <td><span class="status-badge">{{ projeto.get_status_display }}</span></td>
                    <td>{{ projeto.equipe_projeto }}</td>
                    <td>
                        <a href="{% url 'editar_projeto' projeto.pk %}" class="btn-action btn-visualizar">editar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum projeto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}